*{ 
	margin: 0; padding: 0;
	box-sizing: border-box;
}
a{ color:#fff;}
li{ list-style-type: none;}
body{
	font-family: 'Open Sans', sans-serif; 
	background: url(../images/bg_tile.png);
	color: #fff;
	font-size: 12px;
}

.page{
	position: relative;
	width: 1200px; height: 100vh;
	margin: 0 auto;
/*			border: 1px solid #999;*/
	overflow: hidden;
}

aside{
	width: 240px; height: 100%;
	padding: 25px;
	border-right: 1px solid #666;
	float: left;
	background: #202020;
}
header{ margin-bottom: 40px;}
header > h1{ 
	font-family: 'Yellowtail', cursive;
	font-size: 42.69px;
	color: #f39c12;
	font-weight: normal;
}

nav{
	font-size: 15.14px;
	text-transform: uppercase;
	font-weight: bold;
}
nav > ul > li:first-child > a{ 
	color: #f39c12;
	font-family: 'Oswald', sans-serif;
}
footer > a{
	font-family: 'Oswald', sans-serif;
	font-size: 15.14px;
	text-transform:  uppercase;
}

footer > h4{
	font-size: 15.14px;
	margin-top: 1em;
	margin-bottom: 1em;
	text-transform: uppercase;
}
footer .fa-twitter{ margin-bottom: 0.5em;}
footer > .sns_icon li{
	display: inline-block;
	margin-right: 1em;
}

/* main section */
section.main{
	width: 958px;
/*			border: 1px solid #ccc;*/
	float: left;
	padding-left: 30px;
	padding-top: 45px;
}
section.main ul#photos li{
	position: relative;
	width: 192px; 
	height: 192px;
	float: left;
	margin: 0 30px 30px 0;
	background-repeat: no-repeat;
	background-size: cover;
	/*border: 1px solid #ccc;*/
}

/* 우측 마진 제거 */
section.main ul#photos li:nth-child(4n){
	float: left;
	margin-right: 0;
}	

/* 배경 이미지 배치 */
section.main ul#photos li:nth-child(1){
	background-image: url(../images/face_01.png);
}
section.main ul#photos li:nth-child(2){
	background-image: url(../images/face_02.png);
}
section.main ul#photos li:nth-child(3){
	background-image: url(../images/face_03.png);
}
section.main ul#photos li:nth-child(4){
	background-image: url(../images/face_04.png);
}
section.main ul#photos li:nth-child(5){
	background-image: url(../images/face_05.png);
}
section.main ul#photos li:nth-child(6){
	background-image: url(../images/face_06.png);
}
section.main ul#photos li:nth-child(7){
	background-image: url(../images/face_07.png);
}
section.main ul#photos li:nth-child(8){
	background-image: url(../images/face_08.png);
}
section.main ul#photos li:nth-child(9){
	background-image: url(../images/face_09.png);
}
section.main ul#photos li:nth-child(10){
	background-image: url(../images/face_10.png);
}
section.main ul#photos li:nth-child(11){
	background-image: url(../images/face_11.png);
}
section.main ul#photos li:nth-child(12){
	background-image: url(../images/face_12.png);
}

/* 이미지 hover */
section.main ul#photos li a,
section.main ul#photos li span{
	display: block;
	width: inherit;
	height: inherit;
}
section.main ul#photos li a{ transition: 0.5s;}
section.main ul#photos li:hover > a{
	/* hover 배경 반투명 */
	background: rgba(243,156,18, 0.3);
}
/* 호버 커서 */
section.main ul#photos li:hover span{
	position: absolute;
	left: 0; top: 0;
	z-index: 9;
	background: url(../images/hover.png);
	background-repeat: no-repeat;
	background-position: left bottom; /* 커서 위치 */ 
}